@media (min-width: 320px) and (max-width: 1140px){
    .main-header{
        align-items: flex-start;
        background: #000;
        padding: 0px;
        position: static;
    }
    .about-me-image>img{
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .main-header>.logo{
        padding: 0px 20px 0px 0px;;
        order: 2;
    }
    .menu{
        display: block;
        font-size: 20px;
        color: #d1002c;
        padding: 20px 25px;
    }
    .menu-drp{
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        padding-bottom: 20px;
        display: none;
    }
    .banner{
        padding: 100px 25px 0px;
        
    }
    .inactive{
        margin-left: 60px;
    }
    .about-us-content{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 10px;
    }
    .footer{
        padding: 0px 25px;
    }
    .footer-main{
        flex-wrap: wrap;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    .menu-drp{
        padding-left: 25px;
    }
    .about-me-content{
        flex-direction: column;
    }
    .inactive{
        padding: 14px 0px ;
        margin-left: 0px;
    }
    .banner{
        flex-wrap: wrap;
        gap: 50px;
    }
    .banner-title{
        width: 100%;
    }
    .our-works-content-main{
        flex-wrap: wrap;
    }
    .team-experts{
        flex-wrap: wrap;
    }
    .footer-content{
        width: 100%;
    }
    .expert-1{
        flex: unset;
    }
    .gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    padding: 0 5px;
   }
   .gallery-main{
       margin-bottom: 20px;
   }
   .our-services{
        grid-template-columns: auto;
        padding: 0px 10px;
    }
}
}
@media (min-width: 481px) and (max-width: 768px){
    .footer-content{
        width: 45%;
    }
    .about-me-content{
        flex-direction: column;
    }
    .gallery-main{
        margin-bottom: 20px;
    }
    .gallery {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    padding: 0 5px;
    column-count:         2;
   }
   .our-services{
        grid-template-columns: auto auto;
        padding: 0px 10px;
    }
}
@media (min-width: 769px) and (max-width: 1140px){
    .footer-content{
        width: 27%;
    }
  .footer-main{
    justify-content: center;
}.gallery {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    padding: 0 5px;
   }
}